/*
--------------------------
CODEFORCES MICROANIMATION
--------------------------
*/

.codeforces-icon {
    margin-right: 6px;
    margin-top: 6px;
}

.codeforces-icon .red {
    height: 4px;
    y: 2.5px;

}

.codeforces:hover .red {
    animation: red-animation 2.5s infinite alternate;
}


.codeforces-icon .yellow {
    height: 5px;
    y: 1.5px;
}

.codeforces:hover .yellow {
    animation: yellow-animation 2s infinite alternate-reverse;
}

.codeforces:hover .blue {
    animation: blue-animation 2s infinite alternate;
}

@keyframes red-animation {
    0% {
        y: 0px
    }

    0% {
        height: 6px;
        y: 0.5px;
    }
}

@keyframes yellow-animation {
    0% {
        y: 0px;
    }

    0% {
        height: 6px;
        y: 0.5px;
    }
}

@keyframes blue-animation {
    0% {
        y: 0px;
    }

    0% {
        height: 3px;
        y: 3.5;
    }
}