/*
--------------------------
   GITHUB MICROANIMATION
--------------------------
*/
.github-icon {
    width: 40px;
    margin-left: 12px;
    margin-top: 5px;
    fill: var(--col-icon-github);
}

.github:hover #arm {
    transform-origin: bottom right;
    animation: moveArm 1s infinite alternate;
}

@keyframes moveArm {
    0% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(-10deg);
    }
}