.box-load {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #202124;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  color: white;
}

@keyframes load{
  to{transform: rotate(360deg)}
}

.pre {
  width: 80px;
  height: 80px;
  background-image: url("https://ilustracode.com.br/assets/images/load.png");
  background-position: center;
  background-size: contain;
  animation: load 2s infinite linear;
}

